
.reveal section h1,
.reveal section h2,
.reveal section h3,
.reveal section h4 {
  color: #fcb02a;
  text-transform: none;
}

.reveal h3 {
  font-size: 1.1em;
}

.reveal h3.text-shadow {
  text-shadow: 0 0 3px black;
}

.reveal h4 {
  font-size: 1.0em;
}

.featured {
  color: #720d34;
}
.white {
  color: #FFFFFF;
}
.reveal a {
    color: #720d34;
}
.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #720d34;
}
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #720d34;
}

.reveal section.chapter {
  background-color: black;
}

.chapter {
  border: 10px solid red !important;
}

.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}
.reveal section img.profile-photo {
  max-width: 120px;
  border-radius: 50%;
}

.reveal section img.circle {
  border-radius: 50%;
}

.reveal section img.metadrop-logo {
  max-width: 120px;
}

.reveal section img.xsmall {
  max-height: 100px;
}

.reveal section img.small {
  max-height: 200px;
}

.reveal section img.medium {
  max-width: 300px;
}

.reveal section img.large {
  max-height: 400px;
}


.reveal section img.margin-none {
  margin: 0;
}
.reveal section .xxxbig {
  font-size: 2em;
}
.reveal section .xxbig {
  font-size: 1.6em;
}
.reveal section .xbig {
  font-size: 1.4em;
}
.reveal section .big {
  font-size: 1.2em;
}
.reveal section .small {
  font-size: 0.8em;
}
.reveal section .xsmall {
  font-size: 0.6em;
}
.reveal section .xxsmall {
  font-size: 0.4em;
}

.left {
  text-align: left;
}
.right,
.reveal table th.right,
.reveal table td.right {
  text-align: right;
}

.reveal table th {
  color: #666;
}

.reveal table tr.width-50 td {
  width: 50%;
}

ul.none li {
  list-style: none;
}

.reveal ol.margin-bottom-15 li,
.reveal ul.margin-bottom-15 li {
  margin-bottom: 1.5em;
}

.reveal section .center,
.reveal section table.center th,
.reveal section table.center td {
  text-align: center;
}

.reveal section table td.center {
  text-align: center;
}

.reveal section table.cols-2 td {
  width: 50%;
}

.reveal table th,
.reveal table td {
    border-bottom: 1px solid #CCC;
}

.bg-light {
  background-color: lightblue;
}

.reveal section .width-medium {
  max-width: 600px;
  margin:0 auto;
}

.sponsor {
  position: absolute;
  bottom: 0;
  left: 0;
}
.sponsor img {
  height: 40px;
  float: left;
  margin-right: 10px;
  background: #720d34;
  padding: 3px;
}
.sponsor span {
  line-height: 46px;
  height: 46px;
  float: left;
  display: block;
  font-weight: bold;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
.sponsor a,
.sponsor a:hover,
.sponsor a:visited {
  color: blue;
  text-decoration: red;
}

.reveal section .featured-box-secondary {
  background-color: #fcb02a;
  color: white;
  padding: 0.2em 1em;
  margin:1em;
  display: inline-block;
}

.reveal section .featured-box-primary {
  background-color: #720d34;
  color: white;
  padding: 0.2em 1em;
}

.reveal section .featured-box-primary h1 {
  color: white;
  font-size:1em;
  margin: 0;
}

.inline-block {
  display: inline-block;
}

.reveal section .col-30 {
  display: inline-block;
  vertical-align:top;
  width: 29%;
}
.reveal section .col-70 {
  display: inline-block;
  vertical-align:top;
  width: 69%;

}

ol { counter-reset: item; }
ol li { display: block; }
ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #fcb02a;
}

span.italic,
strong.italic,
p.italic,
td.italic {
  font-style: italic;
}
span.strong,
p.strong,
td.strong {
  font-weight: bold;
}

.right-70 {
  float: right;
  max-width: 70%;
}
.right-30 {
  float: right;
  max-width: 30%;
}
.left-30 {
  float: left;
  max-width: 30%;
}
